@import url("https://fonts.googleapis.com/css?family=Cute+Font&display=swap");
 .list__home, .list__about, .list__clients, .list__clients .list__clientsItems li, .list__strauss, .list__strauss .list__straussItem li, .list__contact {
   position: absolute;
   opacity: 0;
   bottom: 0;
   z-index: -1;
   -webkit-transform-origin: bottom center;
   -moz-transform-origin: bottom center;
   -ms-transform-origin: bottom center;
   -o-transform-origin: bottom center;
   transform-origin: bottom center;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
   -o-box-sizing: border-box;
   box-sizing: border-box;
}
 .list__home:after, .list__about:after, .list__clients:after, .list__clients .list__clientsItems li:after, .list__strauss:after, .list__strauss .list__straussItem li:after, .list__contact:after {
   top: 100px;
   width: 3px;
   height: 100%;
   /*background: #555273;*/
   background: white;
   z-index: -1;
}
 .list__home a, .list__about a, .list__clients a, .list__clients .list__clientsItems li a, .list__strauss a, .list__strauss .list__straussItem li a, .list__contact a {
   display: flex;
   width: 100px;
   height: 100px;
   -webkit-align-items: center;
   -moz-align-items: center;
   -ms-align-items: center;
   -o-align-items: center;
   align-items: center;
   margin: auto;
   justify-content: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   border-radius: 50%;
   line-height: 1;
   color: #e2eff1;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
   -o-box-sizing: border-box;
   box-sizing: border-box;
}

.toggle:checked + .label .list__home, .toggle:checked + .label .list__about, .toggle:checked + .label .list__clients, .toggle:checked + .label .list__strauss, .toggle:checked + .label .list__contact {
   opacity: 1;
   z-index: 0;
}
 nav {
   position: relative;
   margin: auto;
   margin-left: 10%;
   margin-top: 1%;
   width: 10%;
   height: 100%;
   -webkit-transform: scale(0.8);
   -moz-transform: scale(0.8);
   -ms-transform: scale(0.8);
   -o-transform: scale(0.8);
   transform: scale(0.8);
}
 /*ul {
   padding: 0;
   margin: 0;
   font-size: 30px;
   text-align: center;
}*/
 .list {
   padding: 0;
   margin: 0;
   font-size: 30px;
   text-align: center;
   margin-left: 250%;
}

 .toggle {
   opacity: 0;
}
 .toggle:checked + .label .hum {
   -webkit-transition: 0.8s;
   -moz-transition: 0.8s;
   -ms-transition: 0.8s;
   -o-transition: 0.8s;
   transition: 0.8s;
   -webkit-transform: rotate(45deg) translate(10px, 10px);
   -moz-transform: rotate(45deg) translate(10px, 10px);
   -ms-transform: rotate(45deg) translate(10px, 10px);
   -o-transform: rotate(45deg) translate(10px, 10px);
   transform: rotate(45deg) translate(10px, 10px);
}
 .toggle:checked + .label .hum:before {
   -webkit-transition: 0.8s;
   -moz-transition: 0.8s;
   -ms-transition: 0.8s;
   -o-transition: 0.8s;
   transition: 0.8s;
   -webkit-transform: rotate(-90deg) translate(10px, 0px);
   -moz-transform: rotate(-90deg) translate(10px, 0px);
   -ms-transform: rotate(-90deg) translate(10px, 0px);
   -o-transform: rotate(-90deg) translate(10px, 0px);
   transform: rotate(-90deg) translate(10px, 0px);
}
 .toggle:checked + .label .hum:after {
   opacity: 0;
   -webkit-transition: 0.8s;
   -moz-transition: 0.8s;
   -ms-transition: 0.8s;
   -o-transition: 0.8s;
   transition: 0.8s;
   -webkit-transform: rotate(-90deg) translate(20px, 0px);
   -moz-transform: rotate(-90deg) translate(20px, 0px);
   -ms-transform: rotate(-90deg) translate(20px, 0px);
   -o-transform: rotate(-90deg) translate(20px, 0px);
   transform: rotate(-90deg) translate(20px, 0px);
}
 .toggle:checked + .label .list__home {
   opacity: 1;
   height: 200px;
   -webkit-transition: 0.8s;
   -moz-transition: 0.8s;
   -ms-transition: 0.8s;
   -o-transition: 0.8s;
   transition: 0.8s;
}
 .toggle:checked + .label .list__about {
   opacity: 1;
   height: 200px;
   -webkit-transition: 0.8s;
   -moz-transition: 0.8s;
   -ms-transition: 0.8s;
   -o-transition: 0.8s;
   transition: 0.8s;
}
 .toggle:checked + .label .list__clients {
   opacity: 1;
   -webkit-transition: 0.8s;
   -moz-transition: 0.8s;
   -ms-transition: 0.8s;
   -o-transition: 0.8s;
   transition: 0.8s;
   -webkit-transform: translate(200px, -200px) rotate(45deg);
   -moz-transform: translate(200px, -200px) rotate(45deg);
   -ms-transform: translate(200px, -200px) rotate(45deg);
   -o-transform: translate(200px, -200px) rotate(45deg);
   transform: translate(200px, -200px) rotate(45deg);
}
 .toggle:checked + .label .list__clients:after {
   height: 36px;
   width:3px;
   background-color: white;
   -webkit-transition: 1.1s;
   -moz-transition: 1.1s;
   -ms-transition: 1.1s;
   -o-transition: 1.1s;
   transition: 1.1s;
}

.toggle:checked + .label .list__strauss {
   opacity: 1;
   -webkit-transition: 0.8s;
   -moz-transition: 0.8s;
   -ms-transition: 0.8s;
   -o-transition: 0.8s;
   transition: 0.8s;
   -webkit-transform: translate(90px, -260px) rotate(-135deg);
   -moz-transform: translate(90px, -260px) rotate(-135deg);
   -ms-transform: translate(90px, -260px) rotate(-135deg);
   -o-transform: translate(90px, -260px) rotate(-135deg);
   transform: translate(90px, -260px) rotate(-135deg);
}
 .toggle:checked + .label .list__strauss:after {
   height: 36px;
   width: 3px;
   background-color: white;
   -webkit-transition: 1.1s;
   -moz-transition: 1.1s;
   -ms-transition: 1.1s;
   -o-transition: 1.1s;
   transition: 1.1s;
}

.toggle:checked + .label .list__contact {
   opacity: 1;
   height: 200px;
   -webkit-transition: 0.8s;
   -moz-transition: 0.8s;
   -ms-transition: 0.8s;
   -o-transition: 0.8s;
   transition: 0.8s;
}
 .label {
   position: absolute;
   top: calc(60% - (100px / 2));
   left: calc(10% - (100px / 2));
   width: 100px;
   height: 100px;
   background-color: #e23e57;
   border-radius: 50%;
   z-index: 100;
   /*menu pink color*/
}
 .list {
   position: absolute;
   top: -200px;
   left: calc(-200% - 250px);
   width: 500px;
   height: 500px;
   -webkit-transform-origin: center;
   -moz-transform-origin: center;
   -ms-transform-origin: center;
   -o-transform-origin: center;
   transform-origin: center;
}
 .list__home {
   height: 10px;
   transform: translate(200px, -300px);
   -webkit-transform: translate(200px, -300px);
   overflow: hidden;
   -webkit-transition: 0.8s;
   -moz-transition: 0.8s;
   -ms-transition: 0.8s;
   -o-transition: 0.8s;
   transition: 0.8s;
   -webkit-transform: translate(200px, -300px);
   -moz-transform: translate(200px, -300px);
   -ms-transform: translate(200px, -300px);
   -o-transform: translate(200px, -300px);
   transform: translate(200px, -300px);
}
 .list__home a {
   /*background: #65799b;*/
   background:white;
}
 .list__about {
   height: 10px;
   overflow: hidden;
   transform: translate(158px, -275px) rotate(-45deg);
   -webkit-transform: translate(158px, -275px) rotate(-45deg);
   -moz-transform: translate(158px, -275px) rotate(-45deg);
   -ms-transform: translate(158px, -275px) rotate(-45deg);
   -o-transform: translate(158px, -275px) rotate(-45deg);
   transform: translate(158px, -275px) rotate(-45deg);
   -webkit-transition: 0.8s;
   -moz-transition: 0.8s;
   -ms-transition: 0.8s;
   -o-transition: 0.8s;
   transition: 0.8s;
}
 .list__about a {
   /*background: #65799b;*/
   background:white;
   -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   -o-transform: rotate(45deg);
   transform: rotate(45deg);
}
 .list__clients {
   width: 300px;
   height: 300px;
   -webkit-transition: 0.8s;
   -moz-transition: 0.8s;
   -ms-transition: 0.8s;
   -o-transition: 0.8s;
   transition: 0.8s;
   -webkit-transform: translate(100px, -110px) rotate(45deg);
   -moz-transform: translate(100px, -110px) rotate(45deg);
   -ms-transform: translate(100px, -110px) rotate(45deg);
   -o-transform: translate(100px, -110px) rotate(45deg);
   transform: translate(100px, -110px) rotate(45deg);
}
 .list__clients a {
   /*background: #65799b;*/
   background: white;
}
 .list__clients a span {
   -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
   transform: rotate(-45deg);
}
 .list__clients:after {
   top: 250px;
   width: 1px;
   height: 0;
   background: #555273;
   left: 45px;
   -webkit-transition: 0.3s;
   -moz-transition: 0.3s;
   -ms-transition: 0.3s;
   -o-transition: 0.3s;
   transition: 0.3s;
}

 .list__clients a {
   margin: 150px 0 0 0;
}
 .list__strauss {
   width: 200px;
   height: 300px;
   -webkit-transition: 0.8s;
   -moz-transition: 0.8s;
   -ms-transition: 0.8s;
   -o-transition: 0.8s;
   transition: 0.8s;
   -webkit-transform: translate(185px, -355px) rotate(-135deg);
   -moz-transform: translate(185px, -355px) rotate(-135deg);
   -ms-transform: translate(185px, -355px) rotate(-135deg);
   -o-transform: translate(185px, -355px) rotate(-135deg);
   transform: translate(185px, -355px) rotate(-135deg);
}
 .list__strauss a {
   /*background: #65799b;*/
   background: white;
}
 .list__strauss a span {
   -webkit-transform: rotate(135deg);
   -moz-transform: rotate(135deg);
   -ms-transform: rotate(135deg);
   -o-transform: rotate(135deg);
   transform: rotate(135deg);
}
 .list__strauss:after {
   top: 250px;
   width: 1px;
   height: 0;
   background: #555273;
   left: 45px;
   -webkit-transition: 0.3s;
   -moz-transition: 0.3s;
   -ms-transition: 0.3s;
   -o-transition: 0.3s;
   transition: 0.3s;
}

.list__strauss a {
   margin: 150px 0 0 0;
}
 .list__contact {
   height: 10px;
   overflow: hidden;
   -webkit-transition: 0.8s;
   -moz-transition: 0.8s;
   -ms-transition: 0.8s;
   -o-transition: 0.8s;
   transition: 0.8s;
   -webkit-transform: translate(230px, -210px) rotate(135deg);
   -moz-transform: translate(230px, -210px) rotate(135deg);
   -ms-transform: translate(230px, -210px) rotate(135deg);
   -o-transform: translate(230px, -210px) rotate(135deg);
   transform: translate(230px, -210px) rotate(135deg);
}
 .list__contact a {
   background: white;
   -webkit-transform: rotate(-135deg);
   -moz-transform: rotate(-135deg);
   -ms-transform: rotate(-135deg);
   -o-transform: rotate(-135deg);
   transform: rotate(-135deg);
}

.hum {
   position: absolute;
   top: 35px;
   left: 30px;
   width: 40px;
   height: 4px;
   background-color: #fff;
   border-radius: 4px;
   -webkit-transition: 0.8s;
   -moz-transition: 0.8s;
   -ms-transition: 0.8s;
   -o-transition: 0.8s;
   transition: 0.8s;
}
 .hum:before {
   top: 10px;
   left: 0;
   width: 100%;
   height: 4px;
   background-color: #fff;
   border-radius: 4px;
   -webkit-transition: 0.8s;
   -moz-transition: 0.8s;
   -ms-transition: 0.8s;
   -o-transition: 0.8s;
   transition: 0.8s;
}
 .hum:after {
   top: 20px;
   left: 0;
   width: 100%;
   height: 4px;
   background-color: #fff;
   border-radius: 4px;
   -webkit-transition: 0.8s;
   -moz-transition: 0.8s;
   -ms-transition: 0.8s;
   -o-transition: 0.8s;
   transition: 0.8s;
}
 /*@media screen and (min-width: 450px) {*/
@media screen and (min-width: 280px) {
   nav {
position: relative;
  margin-top: 0px;
  margin-left: 100px;
    font-family: "Cute Font", Roboto, sans-serif;
     -webkit-transform: scale(0.5);
     -moz-transform: scale(0.5);
     -ms-transform: scale(0.5);
     -o-transform: scale(0.5);
     transform: scale(0.5);
  }
}

 
 *:before, *:after {
   position: absolute;
   content: "";
}



