.slider-css{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.row1{
	background-color: black;
}

.ul li{
	display: inline-block;
	list-style-type: none;
}

.ul li a{

	text-decoration: none;
	color: white;
	background-color: black;
	padding: 5px 20px;
	border: 1px solid;
	transition: 0.6s ease;
}

.li1:hover,.li2:hover,.li3:hover,.li4:hover,.li5:hover,.li6:hover,.li7:hover{
	background-color: black;
	color: yellow;
}

.logo{
	text-align: center;
}

